body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  margin: 0%
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 14px;
  background-color: #0fb9b1;
}

h1 {
  font-size: 18pt;
  font-family: 'Roboto';
  margin: 0%
}

 .wrapper {
   display: flex;
   padding: 25px;
   margin: 32px;
   justify-content: space-around;
 }

.box {
 background-color: rgba(225, 225, 225, .9);
 height: 410px;
 width: 495px;
 font-family: 'Roboto';
}

h2 {
  margin-top: 74px;
  margin-left: 58px;
  height: 1px;
  font-size: 19pt;
}

.add-recipe-button {
  border: white;
  border-radius: 5px;
}

.cook-button {
  background-color: #0fb9b1;
  width: 197px;
  border: white;
  border-radius: 4px;
  margin: -7px;
  padding: 10px;
  margin-left: 59px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 30px;
  margin-block-end: 2px;
  padding: 16px;
}

li {
  margin: 10px;
  font-size: 15pt;
}


img.cooking-pot {
  margin-top: 132px;
  margin-left: 166px;
  width: 160px;
  height: 160px;
}

.result-container {
  font-size: 23pt;
  padding: 71px;
  margin-top: 80px;
}

h3 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: medium;
  font-weight: normal;
  margin-block-end: 0;
}

.selected-dish {
  display: flex;
  justify-content: center;
}

.clear-button {
  background-color: #95a5a6;
  border: white;
  border-radius: 5px;
  width: 65px;
  height: 27px;
  color: white;
  margin-left: 396px;
  margin-top: 69px;
}
