body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  margin: 0%;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #0fb9b1;
}

h1 {
  font-size: 18pt;
  font-family: 'Roboto';
  margin: 2px;
}

 .wrapper {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  margin: 32px;
}

.box {
  background-color: rgba(225, 225, 225, .9);
  height: 413px;
  width: 493px;
  font-family: 'Roboto';
}

h2 {
  margin-left: 42px;
  padding-top: 45px;
  font-size: 20pt;
}

.add-recipe-button {
  border: white;
  border-radius: 5px;
}

.checkbox-container {
  list-style-type: none;
  margin: 20px;
}


li {
  margin: 20px;
  font-size: 15pt;
}

.cook-button {
  background-color: #0fb9b1;
  width: 197px;
  border: white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 45px;
}

img {
  display: block;
  margin: auto;
  margin-top: 132px;
  width: 160px;
  height: 160px;
}

.result-container {
  margin: 175px 0 135px 0 ;
  text-align: center;
}

h3 {
  font-style: italic;
  font-size: medium;
  font-weight: normal;
  margin: 0%;
}

.selected-dish {
  font-size: 23pt;
  margin: 0%;
}

.entire-meal {
  text-align: center;
  margin: 125px 30px 105px 30px;
}

.full-course {
  font-size: 20pt;
}

.clear-button {
  background-color: #95a5a6;
  border: white;
  border-radius: 5px;
  width: 65px;
  height: 27px;
  color: white;
  margin-left: 405px;
  position: absolute;
}

form {
  text-align: left;
  font-family: 'Roboto';
  padding: 22px;
  margin-top: 135px;
  background-color: rgba(225, 225, 225, .9);
}

.input-field {
  height: 26px;
  margin-left: 10px;
  margin-right: 20px;
}

.add-new-button {
  font-family: 'Roboto';
  background-color: #0fb9b1;
  border: white;
  border-radius: 5px;
  padding: 8px;
}
